<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/assets/San Antonio Spurs.png" alt="Logo" width="200" height="92" >
    <h1 class="display-5 fw-bold text-body-emphasis">Spurs Management App</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">It is time to rebuild the former NBA powerhouse and restore it to it's former glory. Astute observations, brilliant strategies and retaining indispensable talents, all through the combination of technology and impeccable mangement. All of that starts here.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="goto()" routerLink="/players" routerLinkActive="active">Let's game</button>
        <!--<button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>-->
      </div>
    </div>  
</div>