<div class="px-5">
<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Match</th>
        <th scope="col">City</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of schedule">
        <th scope="row">{{city.id}}</th>
        <td>{{city.cityName}}</td>
        <td><img src="assets/{{city.cityName}}.png" class="img-fluid" style="width: 75px;"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="px-4">
    <h1>Shortest Distance: {{distance}}km</h1>
  </div>
<div class="text-center mx-auto" #network id="network"></div>
<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <button type="button" (click)="generateGraph()" class="btn btn-primary btn-lg px-4 gap-3">See Graph</button>
  </div>
  
