<div class="px-4">
  <h1>Roster ({{size}})</h1>
  <p>Total Salary: {{salary}}</p>
</div>

<section class="w-100 px-4 py-5" style="background-color: #9de2ff; border-radius: .5rem .5rem 0 0;">
    <div class="row d-flex justify-content-center gy-5">
        <div *ngIf="!freeagents.length" class="spinner-border text-primary" role="status">
          <span class="sr-only"></span>
        </div>
      <div *ngFor="let freeagent of freeagents" class="col col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="assets/{{freeagent?.name}}.png"
                  alt="assets/default.png" class="img-fluid" style="width: 270px;  border-radius: 10px;" onerror="this.onerror=null;this.src=this.alt;">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">{{freeagent?.name}}</h5>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                    <div>
                      <p class="small text-muted mb-1">Age</p>
                      <p class="mb-0">{{freeagent?.age}}</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Height</p>
                      <p class="mb-0">{{freeagent?.height}}</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Weight</p>
                      <p class="mb-0">{{freeagent?.weight}}</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Position</p>
                      <p class="mb-0">{{freeagent?.position}}</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Salary</p>
                      <p class="mb-0">{{freeagent?.salary}}</p>
                    </div>
                  </div>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                  <div>
                    <p class="small text-muted mb-1">Points</p>
                    <p class="mb-0">{{freeagent?.points}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Rebounds</p>
                    <p class="mb-0">{{freeagent?.rebound}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Assists</p>
                    <p class="mb-0">{{freeagent?.assists}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Steals</p>
                    <p class="mb-0">{{freeagent?.steals}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Blocks</p>
                    <p class="mb-0">{{freeagent?.blocks}}</p>
                  </div>
                </div>
                <div class="d-flex pt-1">
                  <button  type="button" (click)="tryAddPlayer(freeagent)" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1" data-bs-toggle="modal" data-bs-target="#addModal">Recruit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Remove Player</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to add this player?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closeModalButton" data-bs-dismiss="modal">No</button>
        <button type="button" (click)="onAddPlayer();" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>
